* {
    margin: 0;
    padding: 0;
    font-family: "Courier New", Courier, sans-serif;
    scroll-behavior: smooth;
}

header {

}


body {
    height: auto;
    width: 100vw;
    display: block;
    z-index: 100;

}

main {
    width: auto;
    height: auto;


}

h1 {
    color: black;
    text-align: center;
    font-size: 3em;
    font-family: "Courier New", Courier, sans-serif;
    text-transform: uppercase;
}

.element {
    background-repeat: no-repeat;
    min-width: 100%;
    height: auto;
    width: auto;
    display: block;
}

#primo {
    width: 100%;
    height: auto;
    background-image: url("../image/b_first.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#tof {
    background-color: white;
    height: 350px;
    width: 400px;
    position: absolute;
    left: 21%;
    border-radius: 10% 10%;
    box-shadow: -12px 9px 20px -4px rgba(0, 0, 0, 0.75);
    top: 510px;
    z-index: 9;
    background-image: url("../image/man.jpg");
}

#me_moi {
    width: 300px;
    height: auto;
    position: relative;
    bottom: 102px;
}

#text_moi {
    background-color: black;
    height: 500px;
    width: 50%;
    opacity: 80%;
    margin: 210px 0 300px 35%;
    overflow: hidden;

}

#text_moi p {
    color: white;
    box-sizing: border-box;
    padding: 0 15%;
    line-height: 40px;

}

@keyframes slide {
    0% {
        /*transform: translate3d(-100%, 0, 0);*/
        transform: translate(-100%);
    }
    100% {
        /*transform: translate3d(0,0,50px);*/
        transform: translate();
    }
}

#mon_prenom {
    animation-name: slide;
    animation-duration: 1s;

}

a {
    width: max-content;
    height: max-content;
}

#act_cal {
    width: 100px;
    height: 100px;
    color: transparent !important;
    border-color: transparent;
    cursor: pointer;
    background: linear-gradient(135deg, #F5515F 0%, #A1051D 100%);
    animation: actcal 1s infinite alternate;
    border-radius: 50%;
    margin: 0 auto;
}

@keyframes actcal {

    from {

        box-shadow: 0 0 5px hsl(0, 53%, 46%)

    }
    to {

        box-shadow: 0 0 15px hsl(0, 50%, 46%)

    }

}


#flacc {
    position: relative;
    top: 30%;
    left: 29.4%;
}

#flacc:active {

}


h2 {
    text-align: center;
    font-size: 3em;
    color: black;
    font-family: "Courier New", Courier, sans-serif;
    margin-top: 150px;
    margin-bottom: 150px;
    text-transform: uppercase;
}

.cadho {
    box-sizing: border-box;
    padding: 10px 0 10px 0;
    margin: 0 auto;
    display: flex;
    width: 90%;
}

.eto {
    width: 100px;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-self: flex-end;
}

.cadbas .eto {
    position: relative;
    top: 2px;
}


.h_skil {
    width: auto;
    height: auto;
    display: grid;
    margin: 0 auto;
}

.block {
    width: 30%;
    height: auto;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 15px;
    background-color: whitesmoke;
}

.block ul {
    list-style: none;
    width: 80%;
    height: auto;
}

.block ul li {
    margin-bottom: 5px;
    color: black;
    font-size: 1.3em;
    line-height: 35px;
}


#trio {
    background-repeat: no-repeat;
    min-width: 100%;
    height: auto;
    width: auto;
    background-image: url("../image/b_detc.jpg");
    background-size: cover;
}


.cadre {
    width: 20%;
    height: 500px;
    background-color: white;
    border-radius: 5%;
    display: inline-grid;
    margin: 200px 0 80px 2.5%;
    border: outset 2px #f33;
}

h3 {
    font-size: 2em;
    text-align: center;
}

p {
    font-size: 1.5em;
    text-align: center;
    line-height: 29px;
}

.timcadre {
    width: 90%;
    height: auto;
    background-color: white;
    opacity: 90%;
    margin: 0 auto;
}


#timligne {
    width: 10px;
    height: auto;
    background-color: black;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 2% 0;
    list-style: none;

}

.point {
    background-color: darkred;
    border: #ff3333;
    border-radius: 50%;
    width: 85px;
    height: 80px;
    opacity: 100%;
    position: relative;
    border-bottom-style: ridge;
    right: 39px;
    margin-bottom: 150px;
}

.timflag_dr {
    background-color: floralwhite;
    box-sizing: border-box;
    padding: 12%;
    display: inline-grid;
    position: relative;
    left: 120px;
    width: 300px;
    font-size: 1.2em;
}

.timflag_gch {
    background-color: floralwhite;
    box-sizing: border-box;
    padding: 12%;
    display: inline-grid;
    position: relative;
    right: 325px;
    font-size: 1.2em;
    width: 300px;
}

.dateflag_dr {
    width: 260px;
    height: auto;
    position: relative;
    left: 140px;
    font-size: 1em;
    display: none;
}

.dateflag_gch {
    width: 260px;
    height: auto;
    position: relative;
    right: 301px;
    font-size: 1em;
    display: none;
}

.dat_dr {
    display: block;
    width: 200px;
    color: red;
    margin-top: 20px;
    background-color: beige;
}

.dat_gch {
    display: block;
    width: 200px;
    color: red;
    margin-top: 20px;
    background-color: beige;
}

.point:hover {
    background-color: #ff3333;
    border-color: darkred;
}

.point:hover .dateflag_dr {
    display: block;
}

.point:hover .dateflag_gch {
    display: block;
}

form {
    width: 80%;
    height: auto;
    display: grid;
    margin: 0 auto;
    background: linear-gradient(135deg, transparent 0%, black 50%, transparent 100%);
    opacity: 80%;
    border: 4px double;
    border-radius: 30px;
}

#form_gch {
    width: 90%;
    height: auto;
    display: grid;
    grid-column: 1;
}

#form_drt {
    width: 100%;
    height: auto;
    grid-column: 2;
}

label {
    font-size: 1.2em;
    margin: 20px 0 10px 10px;
}

input {
    width: 80%;
    height: 50px;
    margin: 20px auto;
    border-radius: 10px;
}

textarea {
    width: 80%;
    height: 250px;
    resize: none;
    margin: 40px auto;
    border-radius: 10px;
}

#sty_but {
    width: 25%;
    height: auto;
    background-color: #F5515F;
    font-size: 1.4em;
    padding: 10px 10px;
    color: white;
    font-weight: bolder;
    position: relative;
    left: 166%;
}

#nom {
    margin-left: 30px;
}


@media (max-width: 1500px) and (min-width: 1200px) {
    #tof {
        top: 694px;
        left: 34.5%;
    }

    #text_moi {
        margin: 210px auto 300px auto;
    }

    .cadre {
        width: 21%;
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    h1 {
        padding-top: 120px;
    }

    #tof {
        left: 30%;
        top: 260px;
    }

    #text_moi {
        margin: 609px auto 80px auto;
        width: 100%;
    }

    .block {
        width: 90%;
    }

    .cadre {
        width: 35%;
        margin: 30px 3% 80px 7%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    h1 {
        font-size: 1.6em;
        padding-top: 120px;
    }

    #tof {
        left: 16%;
        top: 185px;
    }

    #text_moi {
        margin: 394px auto 80px auto;
        width: 92%;
    }

    .block {
        width: 90%;
    }

    .cadre {
        width: 70%;
        margin: 30px 0 80px 13.5%;
    }

    .cadho {
        flex-flow: column;
    }

    .h_skil {
        margin: 0;
    }

    .h_skil img {
        grid-area: 7;
        margin-right: 50px;
    }


    .eto {
        align-self: center;
    }

    #timligne {
        margin-left: 15px;

    }

    .timflag_gch {
        left: 140px;
    }

    .dateflag_gch {
        left: 140px;
    }

    #cont {

    }

    form {
        float: left;
    }
}









